@model List<Driver>
@{
    ViewData["Title"] = "My Drivers";
}
<div class="mb-2">
    <a asp-controller="Driver" asp-action="Add">Add New Driver</a>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>SSN</th>
            <th>Phone</th><th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var driver in Model) {
            <tr>
                <td>@driver.FirstName</td>
                <td>@driver.SSN</td>
                <td>@driver.Phone</td>
                <td>
                    <a asp-controller="Driver" asp-action="Edit"
                       asp-route-id="@driver.DriverId"
                       asp-route-slug="@driver.Slug">Edit</a>
                    <a asp-controller="Driver" asp-action="Delete"
                       asp-route-id="@driver.DriverId"
                       asp-route-slug="@driver.Slug">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>